/*************************************** 
  GENERAL
****************************************/

img {
    display: block;
    width: 100%;
}

figure {
    margin: 0;
}

ul {
    margin-block: 0;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    margin-block: 0;
}

.ms_small-container {
    padding-inline: 100px;
}


/* SECTION HEADER START ************************************************/

header {
    background-color: #2B3E50;
}

header .navbar {
    --bs-navbar-toggler-focus-width: 0;
}

header .navbar-brand {
    color: white;
}

header .navbar-nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}

header .navbar-nav .nav-link.active {
    color: white;
}

header .navbar-toggler {
    background-color: transparent;
    border-color: white;
}

header .navbar-toggler .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

/* header h3 {
    font-size: 1rem;
    font-weight: 700;
} */

header ul li {
    font-size: .7rem;
    font-weight: 600;
}

/* !SECTION HEADER END */


/* SECTION JUMBO START ************************************************/

#jumbo {
    background-color: #19BC9C;
    color: white;
}

#jumbo figure {
    width: 130px;
}

#jumbo h1 {
    font-size: 1.8rem;
}

#jumbo hr {
    border: 1px solid white;
    width: 80px;
    opacity: 1;
}

#jumbo ul {
    padding: 0;
}

#jumbo li {
    font-size: .7rem;
}

/* !SECTION JUMBO END */


/* SECTION PORTFOLIO START ************************************************/

#portfolio hr {
    border: 1px solid black;
    width: 80px;
    opacity: 1;
}

#portfolio figure {
    margin-bottom: 1.5rem;
}

#portfolio img {
    border-radius: 10px;
}

/* !SECTION PORTFOLIO END */


/* SECTION ABOUT START ************************************************/

#about {
    background-color: #19BC9C;
    color: white;
}

#about hr {
    border: 1px solid white;
    width: 80px;
    opacity: 1;
}

/* !SECTION ABOUT END */


/* SECTION CONTACT ME START ************************************************/

#contact hr {
    border: 1px solid black;
    width: 80px;
    opacity: 1;
}

#contact form {
    width: 100%;
}

#contact form input,
#contact form textarea {
    border: 0;
    border-bottom: 1px solid rgb(206, 206, 206);
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#contact form input::placeholder {
    color: black;
}

#contact form button[type=submit] {
    background-color: #19BC9C;
    color: white;
    padding-block: 5px;
    width: 70px;
    border-radius: 5px;
    border: 0;
}

#contact .form-control {
    padding: 10px 0;
    border-radius: 0;
}

/* !SECTION CONTACT ME END */


/* SECTION FOOTER START ************************************************/

footer {
    background-color: #3A546D;
    color: white;
}

footer span {
    font-size: .7rem;
}

footer i {
    border: 1px solid white;
    padding: 5px;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: .8rem;
    padding-top: 7px;
}

footer p {
    font-size: .7rem;
}

footer p span {
    color: #19BC9C;
}

#copyright {
    background-color: #2B3E50;
    color: white;
    font-size: .6rem;
}

/* !SECTION FOOTER END */