/*************************************** 
  GENERAL
****************************************/

img {
    display: block;
    width: 100%;
}

figure {
    margin: 0;
}

ul {
    margin-block: 0;
}

li {
    list-style-type: none;
}

h3 {
    margin-block: 0;
}


/* SECTION HEADER START ************************************************/

header {
    background-color: #2B3E50;
    color: white;
}

header h3 {
    font-size: 1rem;
    font-weight: 700;
}

header ul li {
    font-size: .7rem;
    font-weight: 600;
}

/* !SECTION HEADER END */


/* SECTION JUMBO START ************************************************/

#jumbo {
    background-color: #19BC9C;
    color: white;
}

#jumbo figure {
    width: 130px;
}

#jumbo h1 {
    font-size: 1.8rem;
}

#jumbo hr {
    border: 1px solid white;
    width: 80px;
    opacity: 1;
}

#jumbo ul {
    padding: 0;
}

#jumbo li {
    font-size: .7rem;
}

/* !SECTION JUMBO END */


/* SECTION PORTFOLIO START ************************************************/

#portfolio h2 {
    font-size: 1.5rem;
}

#portfolio hr {
    border: 1px solid black;
    width: 80px;
    opacity: 1;
}

#portfolio figure {
    margin-bottom: 1.5rem;
}

#portfolio img {
    border-radius: 10px;
}